* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "yekan";
    src: url(/fonts/Yekan.woff?18af8c75ab1951a5e56d544fb858e766) format("woff");
}
@font-face {
    font-family: "vazir";
    src: url(/fonts/Vazir.ttf?f440aaed78c25e628ff97aa9ee401df4) format("ttf");
}

/* ----------------------------------------------------- */

body {
    font-family: 'yekan';
    direction: rtl;
}


/* ----------------------------------------------------- */

.topImagePage img {
    display: block;
    width: 100%;
}


/* ----------------------------------------------------- */

.NavigationBar {
    background-color: #333;
    overflow: hidden;
}

.NavigationBar a {
    float: right;
    color: #f2f2f2;
    padding: 13px 16px;
    text-decoration: none;
    /*for delete undeline*/
    font-size: 17px;
}

.NavigationBar a.active, div.active{
    background-color: #eb9412;
    color: white;
}

.NavigationBar a:hover,
.dropdown:hover .dropbtn {
    background-color: #e7d425;
    color: black;
}


/* ----------------------------------------------------- */

.dropdown {
    float: right;
    overflow: hidden;
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    padding: 14px 17px;
    /*vertical horizontal */
    /* az pedaresh be ers mibare */
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    /* for hidden by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 7.2%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content div {
    /* baraye inke zire ham bioftan */
    float: none;
    display: block;
    /**/
    color: black;
    padding-right:10px
    }

.dropdown-content a {
    /* baraye inke zire ham bioftan */
    float: none;
    display: block;
    /**/
    color: black;
    padding: 12px 16px;/*vertical horizontal */
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* ----------------------------------------------------- */

.Legend {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: coral;
}


/* ----------------------------------------------------- */

.SlideShow {
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.prev,
.next {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    color: #eb3e12;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 5px 5px 5px 5px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#numbertext {
    color: #eb3e12;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 12px;
}
/* ----------------------------------------------------- */
/* -------------------end IndexPage style--------------------------- */

.advertisementList {
    margin-left: 5.5%;
    text-align: center;
    float: right;
}

.dl_preview {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
}

.info_button {
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
}
/* ---------------------end ProductPage style-------------------------- */
.submit_input {
    margin-top: 2%;
    margin-bottom: 2%;
    color: #FFFFFF;
    background-color: #448fff;
    font-family: 'yekan';
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 150px;
    padding: 2px;
    box-shadow: 0px 5px 8px #80b3ff;
    text-align: center;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 95%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align:center;
    padding: 3px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .EditInput {
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 5px;
  }
  tr:hover{
    background-color: #a7a7a7;
    cursor: pointer;
  } 
/* ------------------------------------------------ */

  .chat_button {
      color : gray;
      text-decoration: none;
      border: 1px solid;
      border-radius: 4px;
      padding-right:50px;
      padding-left:50px;
      margin-top: 20%;
   }

   .preview_button {
        color : gray;
        text-decoration: none;
        border: 1px solid;
        border-radius: 4px;
        padding-right:50px;
        padding-left:50px;
        margin-top: 20%;
   }

   .buy_button {
    background-color : #eb9412;
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    padding-right:50px;
    padding-left:50px;
    margin-top: 20%;
}

/* ------------------------------------------- */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: url(/images/chat_background.jpg?60ee4ce30ba5b4ed869c45a9bac26356);
    transition: 0.5s;
    /* padding-top: 60px; */
    overflow: hidden;
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {

    align-self: center;
    font-size: 36px;
    margin-right: 50px;
    margin-left: 2px;
  }
/*   
  @media screen and (max-height: 50px) {
    .sidenav {padding-top: 0px;}
    .sidenav a {font-size: 18px;}
  } */

  /* ----------------------------------------------------------- */

  .isMineMessage {
    border-top-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 18px;
    background-color: rgb(252, 138, 97);
    color: rgb(255, 255, 255);
    padding: 8px;
    margin : 4px 8px 4px 30%;
    display: inline-block;
    /* font-family: 'vazir'; */
    font-size: 12px;
    overflow-wrap: anywhere;
    text-align: right;
}

.isNotMineMessage {
    border-top-right-radius: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px;
    margin : 4px 30% 4px 8px;
    display: inline-block;
    /* font-family: 'vazir'; */
    font-size: 12px;
    overflow-wrap: anywhere;
    text-align: right;
}

.inputMessage {
    width: 85%;
    border-radius: 24px;
    border: none;
    box-shadow: 0.5px 0.5px 3px rgb(163, 163, 163);
    padding: 8px;
    /* font-family: 'vazir'; */
    font-size: 14px;
    outline: none;
}


.sendMessage {
    background-color: coral;
    border-radius: 50%;
    padding: 8px;
    border-width: 0px;
    width: 15%;
    margin-left: 4px;
    margin-right: 4px;
    outline: none;
}


.panel {
    width: 100%;
    float: right;
    position: relative;
    /* z-index: -1; */
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 15%), 0 0 0 1px rgb(0 0 0 / 5%);
}

.panel_options {
    width: 70%;
    height: 1000px;
    float: left;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

.panel_information {
    width: 30%;
    height: 100%;
    float: right;
    background-color: rgb(255, 118, 68);
    position: absolute;
}
.information
{
    margin-top: 30px;
    color:#fff;
    text-align: center;
}
.information ul li{
    padding: 10px;
}

.grid {
    float: right;
    margin-right: 75px;
}

.image_content {
    width: 100%;
    position: relative;
    background: #333;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.image_content img {
    display: block;
    opacity: 0.8;
    transition: all .3s ease-in-out;

}

.image_content:hover img {
    transform: rotate(2deg) scale(1.1);
    transition: all .3s ease-in-out;
}

figure {
    margin: 4px;/*margin between figures*/
    float: right;
}

figure figcaption {
    background-color: coral;
    color: white;
    margin-top: 5px;
    padding: 2px;
    text-align: center;
    border-radius: 4px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

